.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.car-details-wrapper h1{
  margin: 30px;
  padding: 30px; /* Adds some padding around the container */
  text-align: start;
}

.car-details-wrapper {
  justify-content: center;
  text-align: center;
}

.car-details-wrapper .c-green{
  color: green;
  font-size: 60px;
  font-weight: bold;
}

.car-details-wrapper .in-between{
  color: rgb(175, 175, 175);
  font-size: 60px;
  font-weight: lighter;
}

.car-details-wrapper .c-red{
  color: red;
  font-size: 60px;
  font-weight: bold;
}

.car-details-wrapper .fuel-prices {
  flex: 1;
  align-self: center;
}
  
.fuel-prices .oil-type {
  font-size: 15px;
  font-weight: bold;
  color: rgb(84, 84, 84);
  vertical-align: baseline;
  position: relative;
  bottom: 2em; /* Adjust this value to control how high the subscript goes */
}

.fuel-prices #sr{
  margin-top: 0px;
}

.card-details {
  float:left;
  height: 500px;
  width: 500px;
  margin-left: 250px; /* Adds some margin around the card */
  padding: 5px; /* Adds padding inside the card */
  background-color: #f9f9f9; /* Light grey background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow */
}

.car-info{
  width: 450px;

  text-align: start;
  margin-left: 20px;
}

.car-image {
  height: auto; /* Keeps the image aspect ratio */
  margin: 2px; /* Adds some margin around the image */
}

.badge{
  color: #fff;
  background-color: #28a745;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.fuel-econmy p{
  display: inline;
}

#sr{
  font-size: 12px;
  font-weight: bold;
}

div .slider-content p{
  display: inline;
  font-size: 15px;
  font-weight: bold;
  color: rgb(84, 84, 84);
  vertical-align: baseline;
  position: relative;
  bottom: 0.5em; /* Adjust this value to control how high the subscript goes */
}

div .slider-content input{
  accent-color: darkcyan;
}